<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    product page
    <% if (result) { %>
        <% result.forEach(function(user){ %>
            <div style="padding: 20px;"><span><%= user.id %>&nbsp;&nbsp;&nbsp;<%= user.product_name %></span>&nbsp;&nbsp;&nbsp;<button ><a href="/product/update/<%= user.id%>">Update</a></button>&nbsp;&nbsp;&nbsp;<button><a href="/product/delete/<%= user.id%>">Delete</a></button></div>
          <% }); %>
      <% } %>
</body>
</html>